body {
    background-color: #1e1e1e;
    font-family: Arial;
}

#background_wrap {
    z-index: -1;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-image: url(https://i.imgur.com/qhznGmy.png);
    overflow-x: hidden;
    background-position: right;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.lilimage {
    background-image: url(https://i.imgur.com/yLEqfqh.png);
    background-position: right;
    background-repeat: no-repeat;
    position: fixed;
    
    z-index: -10;
    bottom: -100px;
    overflow: hidden;
   -webkit-overflow-scrolling: touch;
    right: 10px;
    height: 500px;
    width: 500px;
    background-size: 100%;
}

.supriseimage {
    background-image: url(https://i.imgur.com/FP24I2W.png);
    height: 175px;
    width: 175px;
    bottom: 0px;
    right: 0px;
    overflow: hidden;
   -webkit-overflow-scrolling: touch;
    background-position: right;
    background-repeat: no-repeat;
    position: fixed;
    background-size: 100%;
}

.waveimage {
    background-image: url(https://i.imgur.com/sfjbOnV.png);
    height: 175px;
    width: 175px;
    bottom: 0px;
    left: 0px;
    overflow: hidden;
   -webkit-overflow-scrolling: touch;
    background-position: right;
    background-repeat: no-repeat;
    position: fixed;
    background-size: 100%;
}

.lazyimage {
    background-image: url(https://i.imgur.com/YOTkcP8.png);
    height: 175px;
    width: 175px;
    overflow: hidden;
   -webkit-overflow-scrolling: touch;
    bottom: 0px;
    right: 0px;
    background-position: right;
    background-repeat: no-repeat;
    position: fixed;
    background-size: 100%;
}

.lazymargin {
    margin: 0px 150px 20px 0px;
}
.lazymargin2 {
    margin: 0px 150px 0px 0px;
}

.needsmovewave {
    margin: 0px 0px 30px 170px;
}
.needsmovewave2 {
    margin: 0px 0px 0px 140px;
}


h1 {
    color: White;
    margin-left: 10px;
    overflow-wrap: anywhere;
    text-align: center;
    margin-top: -5px;
    margin-bottom: 5px;
    font-size: 4em;
    font-weight: 100;
}

h3 {
    color: White;
    margin-left: 10px;
    font-size: 24px;
    font-weight: 100;
}

.Title {
    text-align: center;
    margin-top: 20px;
}

.SubTitle {
    text-align: center;
    margin-top: 10px;
}

.CustomCard {
    color: white;
    padding: 10px;
    border-width: 0px;
    margin-bottom: 10px;
    z-index: 10;
}

.CustomCard2 {
    color: white;
    padding: 10px;
    border-width: 0px;
    margin-bottom: 50px;
    z-index: 10;
}

.CardContainer {
    width: 50%;
    margin: 0 auto;

}

.TitleContainer {
    padding: 10px 0;
    display: grid;
    grid-template-columns: 1fr 150px 450px 1fr;
    grid-template-rows: auto auto;
    width: 50%;
    margin: 0 auto;
    margin-top: 20px;
}

p{
    color: white;
    font-size: 24px;
    font-weight: 300;
    margin-left: 10px;
}

li{
    color: white;
    font-size: 24px;
}

.pfp {
    width: 150px;   
    display: block;
    margin-left: auto;
    margin-right: auto;
}

fluent-accordion-item div.panel {
    padding: 12px 10px 12px;
    margin: 12px 0 12px;
    line-height: normal;
    
}

#TwitButton {
    margin-bottom: 10px;
    
}

#GitButton {
    margin-bottom: 10px;
}

.ButtonContainer {
    width: 50%;
    margin: auto;
}

a:link {
    color: #4fbffc;
}
/* visited link */
a:visited {
    color: #cf2cff;
}
/* mouse over link */
a:hover {
    color: #04a4fc;
}
/* selected link */
a:active {
    color: #038cfc;
}

@media (max-width: 1240px) {
    .CardContainer {
        width: 80%;
        margin: auto;
    }

    .TitleContainer {
        display: grid;
        grid-template-columns: 1fr 150px 450px 1fr;
        width: 60%;
        margin: 0 auto;
    }

    #TwitButton {
        margin-right: 10%;
    }
    
    #GitButton {
        margin-right: 10px;
    }
    .lilimage {
        height: 0px;
        width: 0px;
    }
}

@media (max-width: 1000px) {
    .CardContainer {
        width: 80%;
        margin: auto;
    }

    .TitleContainer {
        padding: 10px 0;
        display: grid;
        grid-template-columns: 1fr 150px 450px 1fr;
        width: 70%;
        margin: 0 auto;
    }
}

@media (max-width: 860px) {
    .CardContainer {
        width: 80%;
        margin: auto;
    }

    .TitleContainer {
        padding: 10px 0;
        display: grid;
        grid-template-columns: 1fr 150px 450px 1fr;
        width: 80%;
        margin: 0 auto;
    }
}

@media (max-width: 770px) {
    .CardContainer {
        width: 80%;
        margin: auto;
    }

    .TitleContainer {
        padding: 10px 0;
        display: grid;
        grid-template-columns: 1fr 150px 450px 1fr;
        width: 90%;
        margin: 0 auto;
    }
}

@media (max-width: 700px) {
    .CardContainer {
        width: 90%;
        margin: auto;
    }

    .TitleContainer {
        padding: 10px 0;
        display: grid;
        grid-template-columns: 1fr 150px 450px 1fr;
        margin-left: 10px;
        margin-right: 10px;
    }
    #TwitButton {
        margin-right: 5%;
    }
    
    #GitButton {
        margin-right: 10px;
    }
}


@media (max-width: 640px) {
    .CardContainer {
        width: 90%;
        margin: auto;
    }

    body {
        background-size: 500%;
    }

    .TitleContainer {
        padding: 10px 0;
        margin-left: 20px;
        display: block;
        margin-right: 0px;
    }

    .ButtonContainer {
        display: grid;
        grid-template-columns: 1fr 1fr;
        width:40vw;
        margin: 0 auto;
    }

    #TwitButton {
        margin-right: 10px;
        display: flex;
    }
    
    #GitButton {
        display: flex;
    }
}

@media (max-width: 600px) {
    body {
        background-size: 600%;
    }
    .supriseimage {
        height: 0px;
        width: 0px;
    }
    
    .waveimage {
        height: 0px;
        width: 0px;
    }

    h1 {
        font-size: 3em;
    }
    
    .lazyimage {
        height: 0px;
        width: 0px;
    }
    .lazymargin {
        margin: 0px 0px 20px 0px;
    }
    .lazymargin2 {
        margin: 0px 0px 0px 0px;
    }
    
    .needsmovewave {
        margin: 0px 0px 0px 0px;
    }
    .needsmovewave2 {
        margin: 0px 0px 0px 0px;
    }
}