body {
    background-color: #1e1e1e;
    font-family: Arial;
}

.NoHighlight{
    text-decoration: none;
}

code{
    border-radius: 10px;
}

#background_wrap {
    z-index: -1;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-image: url(https://i.imgur.com/qhznGmy.png);
    overflow-x: hidden;
    background-position: right;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.fluffappicon {
    background-image: url(https://i.imgur.com/Lo7BtGw.png);
    height: 175px;
    width: 175px;
    background-position: right;
    background-repeat: no-repeat;
    position: grid;
    background-size: 100%;
}

h1 {
    color: White;
    margin-left: 10px;
    overflow-wrap: anywhere;
    text-align: center;
    margin-top: -5px;
    margin-bottom: 5px;
    font-size: 4em;
    font-weight: 100;
}

.BlogDate{
    margin-bottom: -20px;
}

h3 {
    color: White;
    margin-left: 10px;
    font-size: 24px;
    font-weight: 100;
}

.DownloadCard {
    color: white;
    padding: 10px;
    display: grid;
    grid-template-columns: 150px 6fr;
    grid-template-rows: auto 0px;
    border-width: 0px;
    margin-bottom: 10px;
    z-index: 10;
}

.AdditionalCard {
    color: white;
    padding: 10px;
    border-width: 0px;
    margin-bottom: 10px;
    z-index: 10;
}

.ButtonsContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 80%;
    margin: -60px auto 70px 40px;
}

.DownloadButton{
    margin: 0 5px;
}

.CardContainer {
    width: 50%;
    margin: 0 auto;
}

.DownloadTitle {
    height: 70%;
    margin: auto auto auto 40px;
}

p{
    color: white;
    font-size: 18px;
    font-weight: 300;
    margin-left: 10px;
}

li{
    color: white;
    font-size: 18px;
}

a:link {
    color: #4fbffc;
}
/* visited link */
a:visited {
    color: #cf2cff;
}
/* mouse over link */
a:hover {
    color: #04a4fc;
}
/* selected link */
a:active {
    color: #038cfc;
}

@media (max-width: 1668px) {
    .ButtonsContainer {
        display: grid;
        grid-template-columns: 1fr 1fr;
        width: 80%;
        margin: -0px auto 70px 40px;
    }
    .DownloadCard {
        color: white;
        padding: 10px;
        display: grid;
        grid-template-columns: 150px 6fr;
        grid-template-rows: auto 30px;
        border-width: 0px;
        margin-bottom: 10px;
        z-index: 10;
    }
}

@media (max-width: 1240px) {
    .CardContainer {
        width: 80%;
        margin: auto;
    }
    .ButtonsContainer {
        display: grid;
        grid-template-columns: 1fr 1fr;
        width: 80%;
        margin: -60px auto 70px 40px;
    }
    .DownloadCard {
        color: white;
        padding: 10px;
        display: grid;
        grid-template-columns: 150px 6fr;
        grid-template-rows: auto 0px;
        border-width: 0px;
        margin-bottom: 10px;
        z-index: 10;
    }
}

@media (max-width: 1050px) {
    .ButtonsContainer {
        display: grid;
        grid-template-columns: 1fr 1fr;
        width: 80%;
        margin: -0px auto 70px 40px;
    }
    .DownloadCard {
        color: white;
        padding: 10px;
        display: grid;
        grid-template-columns: 150px 6fr;
        grid-template-rows: auto 30px;
        border-width: 0px;
        margin-bottom: 10px;
        z-index: 10;
    }
}

@media (max-width: 860px) {
    .CardContainer {
        width: 80%;
        margin: auto;
    }
}

@media (max-width: 770px) {
    .CardContainer {
        width: 80%;
        margin: auto;
    }
}

@media (max-width: 700px) {
    .CardContainer {
        width: 90%;
        margin: auto;
    }
}


@media (max-width: 640px) {
    .CardContainer {
        width: 90%;
        margin: auto;
    }

    body {
        background-size: 700%;
    }
}

@media (max-width: 600px) {
    body {
        background-size: 900%;
    }
}

@media (max-width: 591px) {
    .CardContainer {
        width: 95%;
        margin: auto;
    }
    .ButtonsContainer {
        display: block;
        grid-template-columns: 40vw 40vw;
        width:60vw;
        margin: auto auto auto auto;
    }
    .DownloadCard {
        color: white;
        padding: 10px;
        display: grid;
        grid-template-columns: 120px 6fr;
        grid-template-rows: auto 30px;
        border-width: 0px;
        margin-bottom: 10px;
        z-index: 10;
    }
    .DownloadTitle {
        height: 70%;
        font-size: 2em;
        margin: 25px auto auto -20px;
    }
    .fluffappicon {
        background-image: url(https://i.imgur.com/Lo7BtGw.png);
        height: 115px;
        width: 115px;
        background-position: right;
        background-repeat: no-repeat;
        position: grid;
        background-size: 100%;
    }
}