body {
    background-color: #1e1e1e;
    font-family: Arial;
}

h1 {
    color: White;
    margin-left: 10px;
    overflow-wrap: anywhere;
    text-align: center;
    margin-top: -5px;
    margin-bottom: 5px;
    font-size: 4em;
    font-weight: 100;
}

h3 {
    color: White;
    margin-left: 10px;
    font-size: 24px;
    font-weight: 100;
}

.CustomCard {
    color: white;
    padding: 10px;
    border-width: 0px;
    margin-bottom: 10px;
    z-index: 10;
}

.CardContainer {
    width: 50%;
    margin: 0 auto;
}